doctype html
html
  head
    title= "CPExpress Deals"
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/preloader.css')
    link(href='https://fonts.googleapis.com/css?family=Chango', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    
    
  body

    script(type="text/javascript", src="/javascripts/jquery-min.js")
    script(type="text/javascript", src="/javascripts/sign.js")
    script(type='text/javascript', src='/javascripts/validatepassword.js')
    script(type='text/javascript', src='/javascripts/preloader.js')
    block content
